.movie-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px; 
}
.movie-card {
    width: calc(20% - 20px); 
    margin: 10px; 
    padding: 20px;
    border: 1px solid #ddd; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    text-align: center;
    box-sizing: border-box;
}
.movie-card img {
    max-width: 100%; 
    height: auto; 
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.movie-card h2 {
    font-size: 1.2rem;
    margin: 0;
    color: aqua;
}
.movie-card p {
    font-size: 0.9rem;
    color: tomato;
}
.movie-card a {
    display: block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px;
}
.movie-card a:hover {
    background-color: #0056b3;
}
.movie-card textarea,
.movie-card button[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}
.movie-card textarea {
    height: 100px;
}
.movie-card button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.movie-card button[type="submit"]:hover {
    background-color: #0056b3;
}
.horizontal-lines{
    color: white;
    font-family: "Space Mono", monospace;
    position: relative;
    margin-left: 10px;
    margin-top: 2%;
    }
    .horizontal-lines::after{
    content: "";
    height: 1px;
    width: 70%;
    background-color: rgb(49, 49, 49);
    position: absolute;
    margin-left: 20px;
    top: 50%;
    }
@media screen and (max-width: 768px) {
    .movie-card {
        width: calc(33.33% - 20px);
    }
}
@media screen and (max-width: 576px) {
    .movie-card-container {
        margin: 0;
    }
    .movie-card {
        width: calc(50% - 20px);
        margin: 10px 0;
    }
}
#hb {
  cursor: pointer;
}
.fullscreen-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  animation: fadeIn .3s ;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fullscreen-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.fullscreen-menu li {
  padding: 20px;
}
.fullscreen-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  display: block;
  transition: background-color 0.3s;
}
.fullscreen-menu a:hover {
  background-color: #333;
}
